# Config file for automatic testing at travis-ci.org
sudo: false  # http://docs.travis-ci.com/user/migrating-from-legacy/
language: python
python:
  - 3.6
install: python3 -m pip install -r requirements.txt && python3 -m pip install .
script: make test

